:root {
    /* COLORS */
    --c-transparent: rgba(0,0,0,0);
    --c-white: #FFF;
    --c-black: #000;
    --c-purple: #b592fd;
    --c-darkPurple: #7d4be2;
    --c-textPurple: #905BFF;
    --c-gray1: #e6e6e6;
    --c-gray2: #9A9A9A;
    --c-gray3: "#d9d9d9";
}